@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CUSTOM VARIABLE */
:root {
    --background: #fff;
    --primary: #ffc200;
    --layer: #ffd041;
}

/* DEFAULT STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON FONTS */
.grand-hotel-regular {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat-mont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* COMMON STYLING */
.btn {
    padding: .6rem .9rem;
    border-radius: 2rem;
    background-color: var(--primary);
    margin: 1rem 0;
}