/* BODY STYLING */
body {
    background-color: rgb(255, 255, 255);
    width: 100%;
}

/* .header {
    display: flex;
    flex-direction: column;
} */

.header--food-img {
    width: 100vw;
    height: 70vh;
    filter: brightness(.6);
}

.header__design1 {
    display: none;
}

.navigation {
    display: none;
}

.header__order {
    width: 96%;
    position: absolute;
    top: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header__title {
    color: #ffc200
}

.header__paragraph {
    text-align: center;
    margin: 0 5px;
    color: #ffffff;
}

/* side bar */
.menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 100%;
    cursor: pointer;
}


/* collapsed sidebar after clicking menu icon */
.sidebar {
    width: 0%;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-out;
}

.sidebarExpand {
    width: 30%;
    height: 100%;
    transition: all 0.5s ease-out;
}

.sidebar__title {
    color: #000;
    font-size: 1.2rem;
}

.aside {
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.aside a {
    color: #080101;
    margin: 5px 0;
    font-size: 1.2rem;
    text-decoration: none;
}

.aside a:hover {
    font-size: 1.3rem;
    text-decoration: underline;
}

/* ========== main section started ============ */

/* best seller section */

.best-seller__images {
    margin-bottom: 10px;
}

.best-seller__title {
    text-align: center;
    margin: 5px 0;
}

.best-seller__paragraph {
    text-align: center;
    font-size: 1.1rem;
    margin: 5px 0 10px 0;
    color: #000000;
}

.best-seller__images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px 0;
}

.best-seller__images img {
    width: 300px;
    height: 300px;
    margin: 5px auto;
}

.best-seller__img-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best-seller__img-group-title {
    font-size: 1.3rem;
}

.best-seller__img-group-para {
    text-align: center;
    color: #000;
}

/* state and statistics section */

.taste-statistics {
    margin: 10px 0;
    /* border: 2px solid; */
}

.taste-statistics__img-text {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.taste-statistics__img-group {
    position: relative;
}

.taste-statistics__img1 {
    width: 100%;
    height: 600px;
}

.taste-statistics__img2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
}

.taste-statistics__img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.taste-statistics__text {
    margin-top: .5rem;
    color: #000;
}

.taste-statistics__text-group {
    position: absolute;
    top: 25rem;
    left: 0;
    text-align: center;
}

.taste-statistics__circular-text {
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.taste-statistics__paragraph {
    color: #fff;
}

/* chicken grill section */

.chicken-grill {
    margin-top: 2rem;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;
}

.chicken-grill__title {
    margin-top: 5px;
    color: #ffc200;
}

.chicken-grill__background {
    width: 100%;
    height: auto;
}

.chicken-grill__text-img {
    position: absolute;
    top: 0;
    left: 0;

}

.taste-statistics__img {
    max-width: 80%;
    height: auto;
}

.chicken-grill__paragraph {
    color: #fff;
}

/* lenora fields */
.lenora-fields {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 10rem;
}

.lenora-fields__img {
    width: 100%;
    height: auto;
}

.lenora-fields__text {
    background-color: #ffd041;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.lenora-fields__title {
    color: #000000;
}

.lenora-fields__paragraph {
    color: #030202;
}

/* subscribe section */

.subscribe {
    position: relative;
    margin-bottom: 2rem;
}

.subscribe-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.subscribe__img {
    width: 100%;
    height: auto;
}

.subscribe__title {
    color: #000;
    text-align: center;
}

.subscribe__paragraph {
    color: #000;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-email {
    padding: .6rem .9rem;
    margin: 1rem 0;
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 5px 2px black;
}

.btn-noradius {
    border-radius: 0;
    outline: none;
    box-shadow: 1px 1px 4px 1px black;
}

/* footer section */

/* footer title and social media icons */
.footer__text-icon-title {
    text-align: center;
    margin: 5px 0;
}

.footer__text-icon-paragraph {
    text-align: center;
    margin-bottom: 5px;
}

.footer__text-icon-icons {
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: 2;
    gap: 2rem;
    justify-content: center;
    margin: 10px 0;
}

.footer__text-icon-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    cursor: pointer;
    margin: 5px 0;
}

/* footer about title and other links */

.footer__about-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__about-links li {
    list-style: none;
    padding: 1px;
    margin: 2px;
}

.footer__about-links li a {
    text-decoration: none;
}

.footer__other {
    margin-bottom: 20px;
}